:root.theme-dark {
  --body-background-img: url("../images/cover-image-dark.png");
  --body-background-color: #000028;
  --text-color-dark: #000028;
  --text-color-light: #f1b2ce;
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --title-text-shadow: 4px 4px 0 var(--accent-color);
}