:root.theme-light {
  --body-background-img: url("../images/cover-image-light.png");
  --body-background-color: #fff1f7;
  --text-color-dark: #353430;
  --text-color-light: #353430;
  --accent-color: #ff8dcb;
  --title-color: #ffc2e6;
  --title-text-shadow: 4px 4px 0 var(--accent-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --body-background-img: url("../images/cover-image-light.png");
    --body-background-color: #fff1f7;
    --text-color-dark: #353430;
    --text-color-light: #353430;
    --accent-color: #ff8dcb;
    --title-color: #ffc2e6;
    --title-text-shadow: 4px 4px 0 var(--accent-color);
  }

    .header__decor-lamp {
    display: none;
  }

  .header__theme-menu {
    margin-block-start: 64px;
  }

  .header__theme-menu-button {
    color: var(--text-color-light);
  }

  .header__theme-menu-button:hover {
    border: 1px solid var(--text-color-light);
  }

  .header__theme-menu-button_active {
    border: 1px solid var(--text-color-dark);
  }

  .decorated-zone::before {
    border-top: 1px solid var(--text-color-dark);
    border-right: 1px solid var(--text-color-dark);
  }

  .decorated-zone::after {
    border-bottom: 1px solid var(--text-color-dark);
    border-left: 1px solid var(--text-color-dark);
  }

  .content-section__title {
    color: var(--text-color-dark);
  }

  @media (width >= 768px) {
    .header__theme-menu {
      margin-block-start: 171px;
    }
}

  @media (width >= 1024px) {
    .header__theme-menu {
      margin-block-start: 0;
    }
  }
} 

.theme-light .header__decor-lamp {
  display: none;
}

.theme-light .header__theme-menu {
  margin-block-start: 64px;
}

.theme-light .header__theme-menu-button {
  color: var(--text-color-light);
}

.theme-light .header__theme-menu-button:hover {
  border: 1px solid var(--text-color-light);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text-color-dark);
}

.theme-light .decorated-zone::before {
  border-top: 1px solid var(--text-color-dark);
  border-right: 1px solid var(--text-color-dark);
}

.theme-light .decorated-zone::after {
  border-bottom: 1px solid var(--text-color-dark);
  border-left: 1px solid var(--text-color-dark);
}

.theme-light .content-section__title {
  color: var(--text-color-dark);
}

@media (width >= 768px) {
  .theme-light .header__theme-menu {
    margin-block-start: 171px;
  }
}

@media (width >= 1024px) {
  .theme-light .header__theme-menu {
    margin-block-start: 0;
  }
}